<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.renan.projetodm114">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="br.com.renan.projetodm114.gcm.GcmBroadcastReceiver">
            <intent-filter>
                <!--	Receives	the	actual	messages.	-->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="br.inatel.helloworldturbo" />
            </intent-filter>
        </receiver>
    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"	/>

    <!--	GCM	requires	a	Google	account.	-->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <!--	Keeps	the	processor	from	sleeping	when	a	message	is	received.	-->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <permission	android:name="com.google.android.gcm.demo.app.permission.C2D_MESSAGE" android:protectionLevel="signature"	/>

    <!--	This	app	has	permission	to	register	and	receive	data	message.	-->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>


</manifest>